.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  h2 {
    border-bottom: 3px solid #129de9;
    margin: 20px 0;
  }
  p {
    max-width: 740px;
    font-size: 20px;
    line-height: 2rem;
  }
}
