.ProjectCard {
  height: 350px;
  width: 480px;
  border-radius: 20px;
  background: #0a1734;
  box-shadow: -2px -2px 5px #071126, 2px 2px 5px #0d1d42;
  padding-bottom: 20px;
  img {
    height: 220px;
    width: 480px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  h3 {
    color: #0bbdbd;
    text-shadow: 0px 2px 0px rgba(71, 172, 240, 0.26);
  }
  &:hover {
    box-shadow: -5px -5px 20px #071126, 5px 5px 20px #0d1d42;
  }
  .btn-container {
    button {
      padding: 10px;
      margin: 10px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 800;
      color: #0a1734;
      background-color: #128fd3;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        border-radius: 10px;
        background: linear-gradient(145deg, #1395dd, #16b2ff);
        box-shadow: 2px 2px 6px #128dd0, -2px -2px 6px #18bfff;
      }
    }
  }
}
