.ProjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;

  h2 {
    border-bottom: 3px solid #129de9;
    margin: 20px 0;
  }
  .projectCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    //   width: 1000px;
  }
}
