.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 140px;
  padding: 10px 5px;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
  background: #0a1734;
  box-shadow: -2px -2px 5px #071126, 2px 2px 5px #0d1d42;
  img {
    width: 90px;
    height: 100px;
  }
  &:hover {
    box-shadow: -5px -5px 20px #071126, 5px 5px 20px #0d1d42;
  }
}
