$color-bg: #0a1734;
$color-shadow: #071126;
$color-shades: #0d1d42;

.social {
  display: flex;
  font-size: 24px;
  margin: 0;
  padding: 5px 5px;
  
  .social-icons {
    margin-bottom: 20px;
    a {
      border-radius: 50%;
      padding: 10px;
      margin: 0 5px;
      box-shadow: -5px -5px 20px $color-shades, 5px 5px 20px $color-shadow;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        box-shadow: -2px -2px 5px $color-shades, 2px 2px 5px $color-shadow;
      }
    }
  }
}
